
.header-wrap {
  display: flex;
  
}
.align-center{
  display: flex;
  align-items: center;
}
.content {
  height: 10%;
  padding: auto 0;
  padding-top: 2%;
}
.content img{
  height: 40px;
  
}
.content p{
  font-size: 32px;
}
.logo {
  width: 10%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.logo img {
  width: 20%;
}
.logo span {
  font-size: 30px;
  font-weight: 900;
  color:#333 ;
  font-family: "Berkshire Swash", cursive;
}
  
  .social-wrap {
      width: 60%;
      margin: 2rem auto;
      padding: 4rem;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px 5px;
      border-radius: 20px;
    }
    .social-wrap h1 {
      font-family: "Berkshire Swash", cursive;
      font-size: 60px;
      color: #333;
    }
    .link-button {
      color: white;
      text-decoration: none;
      background-image: linear-gradient(90deg, #363958, #72bb5e);
      padding: 15px 30px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
    }
    